* {
    margin: 0;
    padding: 0;
}

.wrapper{
    position: relative;
}
.wrapperTop{
    background-image: url('../../../public/assets/items/backgroundHelp.jpg');
    background-size: cover;
    height: 60vh; /* Adjust the height as needed for mobile screens */
    width: 100%;
    position: relative;
}

.headline{
    font-size: 24px;
    font-style: italic;
    color: white;
}
.wrapperTopCenter{
    display: flex;
    flex-direction: column;
    align-items: center;
   
    margin: 80px auto;

}
.wrapperTopCenter >h1{
   font-size: 44px;
   font-style: italic;
   color: white;
  margin-bottom: 25px;

}


.input{
    display: flex;
    align-items: center;
}

.topbarInputs{
    width: 450px; 
  height: 30px;
  border-radius: 25px; 
  font-size: 18px; /* Adjust font size */
  padding: 10px 20px; /* Add padding for better spacing */
  border: 2px solid ; /* Add a border for a clear boundary */
  background-color: #D9D9D9;/* Make the background transparent */
  transition: border-color 0.3s, box-shadow 0.3s;
  }

  .topbarInput:focus {
    border-color: #007BFF; /* Change border color on focus */
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5); /* Add a subtle box shadow on focus */
    outline: none; /* Remove the default focus outline */
  }
  
  .topbarInputIcon{
    font-size: 40px;
    cursor: pointer;
  }
  

.text>span{
color: #0B3778;
font-style: italic;
font-weight: bolder;
}

.imgs{
margin: 80px auto;
}

.wrapperCenterTops{
    display: flex;
}

.wrapperCenterBottomss{
    background-color: #32A2DA;
    width: 700px;
    height: 40vh;
   border-radius: 25px;
   position: absolute;
   left: 25%;
   top: 85%;
   padding: 20px 15px;
}


    .footer{
       
        position: absolute;
        bottom: -40%;
        width: 100%;
        z-index: -70;
    }

    .item {
        
        border-radius: 8px;
        margin-bottom: 10px;
        background-color: #fff; /* Background color for items */
      }

      /* Accordion title */
.title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    cursor: pointer;
    background-color: #32A2DA; /* Background color for the title bar */
    color: rgb(12, 12, 12);
    border-radius: 8px;
    height: 40px;
  }
  
  /* Accordion content */
  .contents {
    padding: 0px 20px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-in-out;
    background-color: #D9D9D9; /* Background color for content */
  }


@media screen and (max-width: 768px) {
    /* Add responsive styles for screens with a maximum width of 768px (tablet screens) */
    .wrapperTop {
        height: 40vh; /* Adjust the height as needed for tablet screens */
    }


    .wrapperTopCenter{
        display: flex;
        flex-direction: column;
        align-items: center;
       
        margin: 20px auto;
    
    }
    .wrapperTopCenter >h1{
       font-size: 34px;
       font-style: italic;
       color: white;
      margin-bottom: 15px;
    
    }
    
    .topbarInputs{
        width: 350px; 
      height: 20px;
      border-radius: 25px; 
      font-size: 14px; /* Adjust font size */
      padding: 10px 20px; /* Add padding for better spacing */
      border: 2px solid ; /* Add a border for a clear boundary */
      background-color: #D9D9D9;/* Make the background transparent */
      transition: border-color 0.3s, box-shadow 0.3s;
      }
    
      .topbarInputIcon{
        font-size: 40px;
        cursor: pointer;
      }
      
      .wrapperCenterBottomss{
        background-color: #32A2DA;
        width: 500px;
        height: 45vh;
       border-radius: 25px;
       position: absolute;
       left: 10%;
       top: 85%;
    }
             
.headline{
    font-size: 18px;
    font-style: italic;
    color: white;
}
        
.item {
        
    border-radius: 8px;
    margin-bottom: 8px;
    background-color: #fff; /* Background color for items */
  }

  /* Accordion title */
.title {
height: 10px;
font-size: 12px;
}

/* Accordion content */
.contents {
padding: 0px 20px;
max-height: 0;
font-size: 20px;
overflow: hidden;
transition: max-height 0.3s ease-in-out;
background-color: #D9D9D9; /* Background color for content */
}

.footer{
       
    position: absolute;
    bottom: -50%;
    width: 100%;
    z-index: -70;
}


}

