
.topcontainer{
    width: 100%;
}

.container {
  display: flex;
  flex-direction: column;
}
.img {
  height: 150px;
  width: 150px;
  border-radius: 100%;
  object-fit: cover;
}
.raw {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.form-group {
    display: flex;
    flex-direction: column;
  }
.column1 {
  flex: 1;
  padding: 50px 20px 20px 30px;
  align-items: center;
  justify-content: center;
}
.column2 {
  flex: 2;
  padding: 50px 20px 20px 30px;
}
.column3 {
  flex: 2;
  padding: 50px 20px 20px 30px;
}
.labelStyle {
  font-weight: 600;
}
.form-group input {
  border: 0px solid #820909;
  background-color: rgb(192, 189, 189);
  box-shadow: 1px 2px 3px 2px rgba(0, 0, 0, 0.4);
  border-radius: 4px;
  margin: 12px 0px;
  padding: 5px;
  width: 500px;
}
.text-areas {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.text-areas textarea {
  border: 0px solid #820909;
  background-color: rgb(192, 189, 189);
  box-shadow: 1px 2px 3px 2px rgba(0, 0, 0, 0.4);
  border-radius: 4px;

  width: 700px;
}
.text-areas label {
  font-weight: 12px;
}

.buttons {
  padding-left: 1000px;
  display: flex;
  margin-bottom: 20px;
}
.btn1,
.btn2 {
  margin: 0px 20px;
  color: #fff;
  background-color: rgb(2, 26, 104);
  border-radius: 2px;
  padding: 5px 30px;
}
.column3 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
